@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

h1,
h2,
h3,
h4 {
	font-family: "Oswald", sans-serif;
}

div,
span,
p {
	font-family: "Inter", sans-serif;
}

.song-application {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 150px;
}

.song-list-item {
	display: flex;
	align-items: center;
	margin: 15px 0;
	cursor: pointer;
}

.song-list {
	width: 30%;
}

.song-list-item .content {
	margin-left: 10px;
	font-size: 14px;
}

.song-list-image img {
	border-radius: 5px;
	height: 50px;
	width: 50px;
	object-fit: cover;
}

.song-detail-container {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 30% - 30px);
	margin-left: 30px;
}
.song-detail-container-info {
	width: calc(100% - 300px - 30px);
	margin-left: 30px;
}
.song-detail-container img {
	height: 300px;
	width: 300px;
	border-radius: 10px;
	object-fit: cover;
}
